@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-float {
  animation: float linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-200px);
  }
}
